---
import Expertise from "@sections/Expertise.astro";
import Hero from "@sections/Hero.astro";
import OurValues from "@sections/OurValues.astro";
import Layout from "src/layouts/Layout.astro";

import heroImg from "@img/about-hero-banner.jpg";
import { Image } from "@astrojs/image/components";

const clients = [
  {
    src: import("@img/clients/homes-of-distinction-light.png"),
    alt: "home of distinction",
  },
  {
    src: import("@img/clients/walmart-light.png"),
    alt: "walmart",
  },
  {
    src: import("@img/clients/the-stable-light.png"),
    alt: "the stable",
  },
  {
    src: import("@img/clients/tyson-light.png"),
    alt: "tyson",
  },
  {
    src: import("@img/clients/sams-club-light.png"),
    alt: "sams club",
  },
  {
    src: import("@img/clients/jb-hunt.png"),
    alt: "jb hunt",
  },
];
---

<Layout
  seo={{
    metaTitle: "About Us | Natural State Wealth Advisors",
    metaDescription:
      "Natural State Wealth Advisors offers tax and financial advising to help you achieve your financial goals.",
  }}
>
  <Hero title="About" img={heroImg}>
    <div class="py-20 max-w-screen-xl mx-auto">
      <div class="max-w-4xl mx-auto text-text-light text-center">
        <h1 class="text-5xl lg:text-7xl font-bold">
          About Natural State Wealth Advisors
        </h1>
        <p class="mt-2 font-rubik uppercase text-xl">Our mission</p>
        <p class="mt-2 font-rubik text-lg">
          Natural State Wealth Advisors was founded by individuals who were
          passionate about helping individuals and businesses reach their tax
          and financial goals. They saw a need for expert guidance and
          personalized recommendations in the tax and financial industry and
          decided to start their own business to meet this need.
        </p>
        <p></p>
      </div>
      <div class="mt-20">
        <h2 class="text-3xl text-text-light text-center">
          We Work With Clients From
        </h2>
        <div
          class="mt-8 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 place-items-center gap-10"
        >
          {clients.map((client) => <Image src={client.src} alt={client.alt} />)}
        </div>
      </div>
    </div>
  </Hero>
  <OurValues />
  <Expertise />
</Layout>
