---
import Layout from "src/layouts/Layout.astro";
import Hero from "@sections/Hero.astro";
import TaxServices from "@sections/TaxServices.astro";
import AdvisoryServices from "@sections/AdvisoryServices.astro";
import CallToAction from "@sections/CallToAction.astro";

import { Image } from "@astrojs/image/components";
import heroImg from "@img/services-hero-banner.jpg";
---

<Layout
  seo={{
    metaTitle: "Services | Natural State Wealth Advisors",
    metaDescription:
      "Natural State Wealth Advisors offers a customer centric approach to tax and financial advising.",
  }}
>
  <Hero img={heroImg} title="Services">
    <div
      class="py-20 max-w-screen-xl mx-auto flex flex-col lg:flex-row items-center lg:items-start justify-between gap-10"
    >
      <div class="max-w-md text-center lg:text-left">
        <h1 class="font-bold text-4xl lg:text-7xl text-text-light">
          Our Services
        </h1>
        <p class="mt-7 font-rubik font-semibold text-xl text-text-off-white">
          Services designed to help you achieve your tax and financial goals.
        </p>
      </div>
      <Image
        src={import("@img/services-hero.jpg")}
        alt="Natural State Wealth Advisors Client Experience"
      />
    </div>
  </Hero>
  <TaxServices />
  <AdvisoryServices />
  <CallToAction />
</Layout>
