---
import { Image } from "@astrojs/image/components";
import { Icon } from "astro-icon";

const advisoryServices = [
  {
    icon: "mdi:report-bell-curve",
    title: "Reporting",
    text: "We can assist you in preparing financial reports as needed by various financial institutions.",
  },
  {
    icon: "mdi:phone-plus-outline",
    title: "Financial Advising",
    text: "Expert guidance and personalized recommendations to help you manage your finances and achieve your financial goals.",
  },
];
---

<section class="my-20 px-edge">
  <div class="max-w-screen-xl mx-auto">
    <div class="max-w-2xl mx-auto lg:mx-0 text-center lg:text-left">
      <h2 class="font-bold text-5xl">Advisory Services</h2>
      <p class="mt-2 font-rubik text-text-green">
        Our services to help you manage your finances.
      </p>
    </div>
    <div
      class="mt-10 flex flex-col lg:flex-row justify-between items-center gap-20"
    >
      <div class="flex flex-col lg:flex-row items-center lg:items-start">
        {
          advisoryServices.map((service) => (
            <div class="flex gap-8 items-start md:max-w-sm">
              <Icon
                name={service.icon}
                size={40}
                class="text-text-green grow shrink-0"
              />
              <div class="mt-2">
                <p class="font-bold text-xl">{service.title}</p>
                <p class="mt-2 font-rubik leading-loose text-text-dark">
                  {service.text}
                </p>
              </div>
            </div>
          ))
        }
      </div>
      <Image
        format="webp"
        src={import("@img/advisory-services.jpg")}
        alt="advisory services"
      />
    </div>
  </div>
</section>
