---
import Icon from "astro-icon";

const skills = [
  {
    icon: "ph:user-circle-light",
    title: "This is just a placeholder",
    text: "This is just placeholder text. Don’t be alarmed, this is just here to fill up space since your finalized copy isn’t ready yet. Once we have your content finalized, we’ll replace this placeholder text with your real content. Sometimes it’s nice to put in text just to get an idea of how text will fill in a space on your website.",
  },
];
---

<section class="py-20 px-edge relative overflow-x-hidden">
  <p class="absolute -top-10 font-bold text-bg text-text-green/10">Expertise</p>
  <div class="max-w-screen-xl mx-auto relative z-10">
    <h2 class="font-bold text-5xl text-center">Our Expertise</h2>
  <div class="mt-20 grid grid-cols-1 md:grid-cols-2 gap-6">
      {
        [...Array(4).keys()].map(() => (
          <div class="flex  gap-7">
            <Icon
              name={skills[0].icon}
              size={40}
              class="grow shrink-0 text-text-green"
            />
            <div class="mt-2">
              <p class="font-bold text-xl">{skills[0].title}</p>

              <p class="font-rubik leading-loose text-text-green">
                {skills[0].text}
              </p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
