---
import Icon from "astro-icon";

const skills = [
  {
    icon: "ph:user-circle-light",
    title: "Tax Planning",
    text: "This involves analyzing a client's financial situation and identifying strategies to minimize tax liability and optimize tax savings. This may include recommending tax-advantaged investments, structuring business operations to maximize tax benefits, and identifying opportunities for credits and deductions.",
  },
  {
    icon: "ph:user-circle-light",
    title: "Investment Planning",
    text: "This involves developing a plan for how to allocate financial assets in order to achieve long-term financial goals. This may include recommending specific investments or asset classes, as well as developing strategies for diversification and risk management.",
  },
];
---

<section class="py-20 px-edge relative overflow-x-hidden">
  <p class="absolute -top-10 font-bold text-bg text-text-green/10">Expertise</p>
  <div class="max-w-screen-xl mx-auto relative z-10">
    <h2 class="font-bold text-5xl text-center">Our Expertise</h2>
    <div class="mt-20 grid grid-cols-1 md:grid-cols-2 gap-6">
      {
        skills.map((skill) => (
          <div class="flex  gap-7">
            <Icon
              name={skill.icon}
              size={40}
              class="grow shrink-0 text-text-green"
            />
            <div class="mt-2">
              <p class="font-bold text-xl">{skill.title}</p>

              <p class="font-rubik leading-loose text-text-green">
                {skill.text}
              </p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
