<section class="py-20 px-edge">
  <div class="max-w-screen-xl mx-auto text-center">
    <h2 class="font-bold text-4xl">Looking for tax advising?</h2>
    <p class="mt-3 text-lg font-rubik">
      Head to our partner company Natural State Tax Advisors!
    </p>
    <button
      class="mt-3 inline-block px-10 py-3 bg-primary rounded-full text-lg text-white cursor-pointer"
      data-micromodal-trigger="go-to-modal"
      >Go To Natural State Tax Advisors</button
    >
  </div>
  <div id="go-to-modal" class="hidden" aria-hidden="true">
    <div
      tabindex="-1"
      class="bg-text-green/80 flex justify-center items-center fixed z-50 inset-0"
      data-micromodal-close
    >
      <div
        class="relative bg-white p-10 max-w-screen-lg w-full text-center"
        role="dialog"
        aria-modal="true"
        aria-labelledby="go-to-modal-title"
      >
        <header>
          <h2 class="font-bold text-3xl" id="go-to-modal-title">
            You are now leaving Natural State Wealth Advisors
          </h2>

          <button
            class="absolute top-2 right-4 font-bold text-lg"
            aria-label="Close modal"
            data-micromodal-close>x</button
          >
        </header>

        <div id="go-to-modal-content">
          <p class="mt-2 leading-relaxed text-lg font-rubik">
            Clicking the button below will take you to our tax advising firm,
            Natural State Tax Advisors.
          </p>
          <a
            href="https://www.nsta.page.dev"
            target="_blank"
            class="mt-3 inline-block px-10 py-3 bg-primary rounded-full text-lg text-white cursor-pointer"
            >Leave Site</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  import MicroModal from "micromodal";

  MicroModal.init({
    onShow: (modal) => (modal!.className = "block"),
    onClose: (modal) => (modal!.className = "hidden"),
  });
</script>
