---
import Header from "@components/Header/Header.astro";
import { Image } from "@astrojs/image/components";

export interface Props {
  img: string;
  title: string;
}

const { img, title } = Astro.props;
---

<div class="relative">
  <Image
    lazy="eager"
    format="webp"
    src={img}
    alt="natural state wealth advisors"
    class="absolute inset-0 h-full w-full object-cover"
  />
  <Header />
  <div class="px-edge relative overflow-hidden z-20">
    <p
      class="absolute leading-none -bottom-20 -right-40 font-bold text-bg text-text-light/5 z-10"
    >
      {title}
    </p>
    <slot />
  </div>
</div>
