---
import * as d3 from "d3";

const aspectRatio = 1280 / 600;
let width = 1280;
let height = width / aspectRatio;

// Fetch data necessary
const [geoJsonData, clientData] = await Promise.all([
  d3.json(
    "https://raw.githubusercontent.com/clayton-schneider/nswa/main/src/data/states.json"
  ),
  d3.csv(
    "https://raw.githubusercontent.com/clayton-schneider/nswa/main/src/data/states.csv"
  ),
]).catch((err) => console.log("Caught Error: ", err));

const projection = d3.geoAlbersUsa().fitSize([width, height], geoJsonData);
const pathGenerator = d3.geoPath().projection(projection);

function stateHasClient(feature) {
  let color = "";
  clientData.forEach((state) => {
    if (state.name === feature.properties.NAME) {
      color = state.client === "true" ? "#42563E" : "white";
    }
  });
  return color;
}
---

<section class="py-10 lg:py-20 px-edge">
  <div class="max-w-screen-xl mx-auto">
    <div class="text-center space-y-2">
      <h2 class="font-bold text-4xl lg:text-5xl">We Have Clients Nationwide</h2>
      <p class="max-w-2xl mx-auto font-rubik text-lg text-text-dark">
        While we are based in Bentonville Arkansas, we work with clients across
        the country.
      </p>
    </div>

    <div id="container">
      <svg
        id="map"
        class="mx-auto"
        viewBox="0 0 1280 600"
        preserveAspectRatio="xMinYMin meet"
      >
        {
          geoJsonData.features.map((feature) => {
            return (
              <path
                d={pathGenerator(feature)}
                stroke="grey"
                fill={stateHasClient(feature)}
              />
            );
          })
        }
      </svg>
    </div>
  </div>
</section>
