---
import PrimaryBtn from "@components/buttons/PrimaryBtn";
import { Icon } from "astro-icon";
import { Image } from "@astrojs/image/components";
const services = [
  {
    icon: "mdi:phone-plus-outline",
    title: "Comprehensive Financial Planning",
    text: "Coordinating your investments, taxes, insurance, and estate plan to make your life as simple as possible.",
  },
  {
    icon: "mdi:chart-timeline-variant-shimmer",
    title: "Investment Management",
    text: "Personalizing portfolios to your risk tolerance and timeline with a focus on tax-efficiency.",
  },
  {
    icon: "mdi:account",
    title: "Executive Compensation Planning",
    text: "Reviewing all aspects of your compensation structure from deferred compensation to equity grants to maximize your wealth accumulation.",
  },
  {
    icon: "tabler:receipt-tax",
    title: "Tax Planning",
    text: "Optimizing your wealth accumulation and distribution strategies with tax professionals to increase your after-tax wealth.",
  },
  {
    icon: "mdi:house",
    title: "Estate Planning",
    text: "Advising on proper estate planning to make sure your assets go where you want them to go in the most tax-efficient manner.",
  },
  {
    icon: "mdi:handshake-outline",
    title: "Business Planning",
    text: "Helping you align your business financial plan with your personal financial plan to maximize total wealth accumulation.",
  },
  {
    icon: "mdi:pencil",
    title: "Retirement Planning",
    text: "Structuring retirement plans for business owners to help them attract and retain key employees while also executing their own personal financial plan.",
  },
];
---

<section class="py-20 px-edge relative overflow-x-hidden">
  <p class="absolute select-none -top-10 font-bold text-bg text-text-green/10">
    Services
  </p>
  <div class="max-w-screen-xl mx-auto relative z-10">
    <div class="text-center max-w-xl mx-auto space-y-2">
      <h2 class="font-bold text-5xl">Our Services</h2>
      <p class="font-rubik text-xl text-text-dark">
        Wealth advising services to help you meet your financial goals.
      </p>
    </div>

    <div
      class="mt-10 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 lg:grid-rows-3 gap-10 items-center"
    >
      {
        services.map((service, i) => (
          <div
            class={
              (i % 2 === 0
                ? "text-center lg:text-right lg:flex-row"
                : "text-center lg:text-left lg:flex-row-reverse") +
              " max-w-xs mx-auto lg:max-w-full lg:mx-0 flex flex-col-reverse items-center lg:gap-10 lg:last-of-type:col-start-2"
            }
          >
            <div class="space-y-2">
              <p class="font-bold text-xl">{service.title}</p>
              <p class="text-text-dark">{service.text}</p>
            </div>
            <Icon
              name={service.icon}
              size={30}
              class="flex-grow flex-shrink-0 text-green"
            />
          </div>
        ))
      }

      <Image
        format="webp"
        src={import("@img/natural-state-wealth-advisors-services.jpg")}
        alt="natural state wealth advisors services"
        class="mx-auto col-span-full lg:col-span-1 lg:col-start-2 lg:row-span-full object-cover"
        quality={100}
      />
    </div>

    <div
      class="mt-10 flex flex-col md:flex-row text-center justify-center gap-8"
    >
      <PrimaryBtn to="/services">Learn More</PrimaryBtn>
      <PrimaryBtn to="/clients">Our Process</PrimaryBtn>
    </div>
  </div>
</section>
