---
import PrimaryBtn from "@components/buttons/PrimaryBtn";
import { Icon } from "astro-icon";
import { Image } from "@astrojs/image/components";
const services = [
  {
    icon: "ph:user-circle",
    title: "Personal Returns",
    text: "We’ll file your personal tax returns and work to minimize your tax liability.",
  },
  {
    icon: "tabler:receipt-tax",
    title: "Tax Projections and Managing Estimates",
    text: "We will estimate your future tax liability, helping you to plan your finances and make informed financial decisions.",
  },
  {
    icon: "carbon:partnership",
    title: "Partnerships & Corporations",
    text: "We’ll file your business tax returns, and ensure you are following all reporting requirements and utilizing the tax code to the fullest.",
  },
  {
    icon: "mdi:report-bell-curve",
    title: "Reporting",
    text: "We can assist you in preparing financial reports as needed by various financial institutions.",
  },
  {
    icon: "codicon:workspace-trusted",
    title: "Trust Returns",
    text: "Maximize the financial returns on your trust, ensuring that your assets are managed effectively.",
  },
  {
    icon: "mdi:phone-plus-outline",
    title: "Financial Advising",
    text: "Expert guidance and personalized recommendations to help you manage your finances and achieve your financial goals.",
  },
];
---

<section class="py-20 px-edge relative overflow-x-hidden">
  <p class="absolute -top-10 font-bold text-bg text-text-green/10">Services</p>
  <div class="max-w-screen-xl mx-auto relative z-10">
    <div class="text-center max-w-xl mx-auto space-y-2">
      <h2 class="font-bold text-5xl">Our Services</h2>
      <p class="font-rubik text-xl text-text-dark">
        Tax and wealth advising services to help you meet your financial goals.
      </p>
    </div>

    <div
      class="mt-10 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 lg:grid-rows-3 gap-10 items-center"
    >
      {
        services.map((service, i) => (
          <div
            class={
              (i % 2 === 0
                ? "text-center lg:text-right lg:flex-row"
                : "text-center lg:text-left lg:flex-row-reverse") +
              " max-w-xs mx-auto lg:max-w-full lg:mx-0 flex flex-col-reverse items-center lg:gap-10"
            }
          >
            <div class="space-y-2">
              <p class="font-bold text-xl">{service.title}</p>
              <p class="text-text-dark">{service.text}</p>
            </div>
            <Icon
              name={service.icon}
              size={30}
              class="flex-grow flex-shrink-0 text-green"
            />
          </div>
        ))
      }

      <Image
        format="webp"
        src={import("@img/natural-state-wealth-advisors-services.jpg")}
        alt="natural state wealth advisors services"
        class="mx-auto col-span-full lg:col-span-1 lg:col-start-2 lg:row-span-full object-cover"
        quality={100}
      />
    </div>

    <div
      class="mt-10 flex flex-col md:flex-row text-center justify-center gap-8"
    >
      <PrimaryBtn to="/services">Learn More</PrimaryBtn>
      <PrimaryBtn to="/clients">Our Process</PrimaryBtn>
    </div>
  </div>
</section>
