---
import { Image } from "@astrojs/image/components";
import { Icon } from "astro-icon";
const values = [
  {
    icon: "client-service",
    title: "Initial Consultation",
    text: "During the initial consultation, we will meet to discuss your tax and financial situation, goals, and any concerns you may have. This may involve reviewing tax and financial documents, discussing your risk tolerance and financial objectives, and identifying any potential challenges or opportunities.",
  },
  {
    icon: "golden-rule",
    title: "Development of Financial Plan",
    text: "Based on the information gathered during the initial consultation, we will develop a personalized tax and/or financial plan for you. This may include recommendations for you, your business, investments, and other tax and financial strategies.",
  },
  {
    icon: "learn",
    title: "Ongoing Support & Review",
    text: "We provide ongoing support and guidance as you implement your plan. This may involve regular meetings or communication to review progress, adjust the plan as needed, and address any new challenges or opportunities that may arise.",
  },
];
---

<section class="py-16 lg:py-36 px-edge relative">
  <Image
    format="webp"
    src={import("@img/benefits-bg.jpg")}
    alt="natural state wealth advisors' workflow"
    class="absolute inset-0 w-full h-full object-cover"
  />
  <div class="max-w-screen-xl mx-auto relative z-10">
    <div class="text-center">
      <p class="font-rubik uppercase text-lg text-text-green">Our Workflow</p>
      <h2 class="font-bold text-4xl">Designed For Results</h2>
    </div>

    <div
      class="mt-20 flex flex-col lg:flex-row items-center lg:items-start justify-center gap-10 lg:gap-20"
    >
      {
        values.map((value) => (
          <div class="text-center max-w-[325px]">
            <Icon name={value.icon} size={75} class="mx-auto" />
            <p class="mt-4 font-bold text-lg">{value.title}</p>
            <p class="mt-2 font-rubik leading-loose text-text-dark">
              {value.text}
            </p>
          </div>
        ))
      }
    </div>
  </div>
</section>
