---
import "../styles.css";
import Footer from "@components/Footer/Footer.astro";
import SEO from "@components/SEO.astro";
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
export interface Props {
  seo: {
    metaTitle: string;
    metaDescription: string;
  };
}

const { seo } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <SEO metaTitle={seo.metaTitle} metaDescription={seo.metaDescription} />
    <script type="text/partytown" data-domain="nswadvisors.com" src="https://plausible.io/js/script.js"></script>
    <GoogleFontsOptimizer
      url="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:wght@400;600&display=swap"
    />
  </head>
  <body>
    <main>
      <div class="bg-red-500 p-5">
        <p class="font-bold text-center">Due to recent storms our office is without power. As a result our office is closed until further notice. Many of our staff will be working from home in limited capacity. If you are in need of immediate assistance please call or text 479-402-5402</p>
      </div>
      <slot />
    </main>
    <Footer />
  </body>
</html>
